
cmake-build-debug/CMakeCache.txt

*.cmake

*.xml

*.out

*.bin

cmake-build-debug/Makefile

*.cbp

cmake-build-debug/CMakeFiles/TargetDirectories.txt

*.marks

cmake-build-debug/CMakeFiles/Makefile2

*.cxx

cmake-build-debug/CMakeFiles/feature_tests.c

*.o

*.exe

*.log

*.make

*.internal

*.includecache
